@keyframes show
  from
    opacity: 0
  to
    opacity: 1

culture-links
  position: relative
  display: block
  top: 200px
  opacity: 0
  font-size: 28px
  animation: show 0.5s 0.25s
  animation-fill-mode: forwards

  li
    padding: 13px
    padding-left: 55px
    text-transform: uppercase
    cursor: pointer

    &::after
      content: ''
      position: relative
      display: inline-block
      top: -3px
      left: 15px
      width: 15px
      height: 15px
      border: 1px solid white
      border-bottom: 0
      border-left: 0
      transform: rotate(45deg)

  li:hover,
  li.selected
    @media (min-width: 790px)
      background-color: rgba(255, 255, 255, 0.15)
