<menu>
    <div class="container {active: isMenuActive, hide: isArrowRotated}">
        <p class="main-text" if="{!isMenuActive}">
            Our mission is to promote entrepreneurship, innovation and creativity in Belgrade
        </p>

        <p class="choose-text" if="{!isMenuActive}">
            Choose between different categories: Startups or Culture
        </p>

        <div class="icon-group">
            <div class="icon icon-bulb {orange: isCompanySelected}" onclick="{selectCompanies}"></div>
            <div class="icon icon-mask {orange: isCultureSelected}" onclick="{selectCulture}"></div>
        </div>

        <company-links show="{isCompanySelected}"></company-links>
        <culture-links show="{isCultureSelected}"></culture-links>
        <company-info company="{companyInfo}" show="{isCompanyInfoSelected}"></company-info>
    </div>

    <div class="arrow">
        <a class="arrow-icon -chevron {active: !isArrowRotated}" if="{isMenuActive}" onclick="{rotateArrow}">
            <div>
                <span class="right"></span>
                <span class="right"></span>
                <span class="left"></span>
                <span class="left"></span>
            </div>
        </a>
    </div>

    <span class="arrow-text {active: isArrowRotated}">{selectedText}</span>

    <script>
        import RiotControl from 'RiotControl'

        const tag = this

        tag.isMenuActive = false

        tag.on('mount', function () {
            RiotControl.on('startup:show', _ => tag.handleLinkClick('startups'))
            RiotControl.on('cooperation:show', _ => tag.handleLinkClick('cooperation'))
            RiotControl.on('companyinfo:show', company => tag.handleCompanyInfo(company))
        })

        tag.selectCompanies = function() {
            tag.isMenuActive = true
            tag.isCompanySelected = true
            tag.isCultureSelected = false
            tag.isCompanyInfoSelected = false
            tag.isCvTemplate = false

            zenscroll.center(document.getElementById("map"))
            RiotControl.trigger('zoom:enable')
        }

        tag.selectCulture = function() {
            tag.isMenuActive = true
            tag.isCompanySelected = false
            tag.isCultureSelected = true
            tag.isCompanyInfoSelected = false
            tag.isCvTemplate = false

            zenscroll.center(document.getElementById("map"))
            RiotControl.trigger('zoom:enable')
        }

        tag.closeMenu = function () {
            tag.isMenuClosed = !tag.isMenuClosed
        }

        tag.rotateArrow = function () {
            tag.isArrowRotated = !tag.isArrowRotated
        }

        tag.handleLinkClick = function (linkText) {
            tag.selectedText = linkText
        }

        tag.handleCompanyInfo = function(company) {
            tag.isCompanySelected = false
            tag.isCultureSelected = false
            tag.isCompanyInfoSelected = true

            tag.companyInfo = company
            tag.selectedText = company.name

            tag.update()
        }

        tag.on('unmount', function () {
            RiotControl.off('startup:show')
            RiotControl.off('cooperation:show')
        })

    </script>

</menu>
