<job-offers show="{shouldDisplay}" choose="{!!selectedOffer}">

    <div class="offer {selected: selectedOffer === offer}" each="{offer, i in offers}" onclick="{selectCompany}" ref="offer-{i}">
        <img src="{offer.logo}" alt=""/>
    </div>

    <cv-template company="selectedOffer" if="{selectedOffer}"></cv-template>

    <script>
        import RiotControl from 'RiotControl'

        const tag = this

        tag.shouldDisplay = false
        tag.offers = []
        tag.selectedOffer = null

        tag.on('mount', _ => {

            RiotControl.on('joboffers:show', tag.showTag)
            RiotControl.on('joboffers:hide', tag.hideTag)
            RiotControl.on('offers:changed', tag.showOffers)
        })

        tag.showTag = function () {
            tag.shouldDisplay = true
            tag.update()
            RiotControl.trigger('offers:fetch')
        }

        tag.hideTag = function () {
            tag.shouldDisplay = false
            tag.invalidateSelectedOffer()
            tag.update()
        }

        tag.showOffers = function (offers) {
            tag.offers = offers
            tag.update()
        }

        tag.invalidateSelectedOffer = function () {
            tag.selectedOffer = null
            tag.update()
        }

        tag.selectCompany = function (e) {
            tag.selectedOffer = e.item.offer
            tag.update()
        }

    </script>

</job-offers>