<job-offers show="{shouldDisplay}">

    <div class="offer" each="{offer in offers}" onclick="{selectCompany}">
        <img src="{offer.logo}" alt=""/>
    </div>


    <script>
        import RiotControl from 'RiotControl'

        const tag = this

        tag.shouldDisplay = false
        tag.offers = []

        tag.on('mount', _ => {

            RiotControl.on('joboffers:show', tag.showTag)
            RiotControl.on('joboffers:hide', tag.hideTag)
            RiotControl.on('offers:changed', tag.showOffers)
        })

        tag.showTag = function () {
            tag.shouldDisplay = true
            tag.update()
            RiotControl.trigger('offers:fetch')
        }

        tag.hideTag = function () {
            tag.shouldDisplay = false
            tag.update()
        }

        tag.showOffers = function (offers) {
            tag.offers = offers
            tag.update()
        }

        tag.selectCompany = function (e) {
            console.log('selected company', e.item.offer)
        }

    </script>

</job-offers>