job-offers
  position: absolute
  width: calc(100% - 400px)
  height: 100vh
  right: 0
  top: 0
  outline: 1px solid white
  background-color: rgba(0,0,0,0.7)
  display: flex
  justify-content: space-around
  align-content: flex-start
  align-items: center
  flex-wrap: wrap
  padding: 10vw 2vw 0
  overflow: auto

  &[choose]
    padding: 5vw 2vw 0

  &[choose] .offer:not(.selected)
    display: none

  .offer
    height: 130px
    width: 130px
    margin: 3%
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
  
  
  .offer img 
    max-width: 100%
    max-height: 100%


