<cv-template>
    <div class="col-6">
        <input type="text" id="i1">
        <label for="i1">first name</label>
    </div>

    <div class="col-6">
        <input type="text" placeholder="last name">
    </div>

    <div class="col-12">
        <input type="email" placeholder="email">
    </div>

    <div class="col-12">
        <input type="phone" placeholder="phone number">
    </div>

    <div class="col-12">
        <textarea type="text" rows="3" placeholder="education"></textarea>
    </div>

    <div class="col-12">
        <textarea type="text" rows="3" placeholder="work experience"></textarea>
    </div>

    <div class="col-12">
        <textarea type="text" rows="3" placeholder="skills"></textarea>
    </div>

    <div class="col-12">
        <input type="text" placeholder="languages">
    </div>

    <div class="col-12">
        <textarea type="text" rows="5" placeholder="motivation"></textarea>
    </div>

    <div class="col-12">
        <button>Send</button>
    </div>

</cv-template>