
cv-template
  position: absolute
  width: 45vw
  top: 10%
  left: 450px

  .col-6
    width: 300px
    position: relative
    margin: 13px

  .col-12
    width: 100%
    margin 13px

  label
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)


  input,
  textarea,
  button
    width: 100%
    background-color: rgba(253,152,0,0.6)
    color: #fff
    font-size: 20px
    padding: 10px
    border: 0
    border-radius: 5px
    outline: 0

  textarea
    resize: none

  button
    padding: 5px
    border: 1px solid white
    cursor: pointer

