<company-links>
    <ul>
        <li class="hide-tap-highlight {orange: startupSelected}" onclick="{showStartups}"><span>startups</span></li>
        <li class="hide-tap-highlight {orange: cooperationSelected}" onclick="{showCooperation}"><span>cooperation</span></li>
        <li class="hide-tap-highlight" onclick="{showEvents}"><span>events</span></li>
        <li class="hide-tap-highlight {orange: jobOffersSelected}" onclick="{showJobOffers}"><span>job offers</span></li>
    </ul>

    <script>
        import RiotControl from 'RiotControl'

        const tag = this

        tag.showStartups = function () {
            tag.startupSelected = true
            tag.cooperationSelected = false
            tag.jobOffersSelected = false

            RiotControl.trigger('joboffers:hide')
            RiotControl.trigger('startup:show')
        }

        tag.showCooperation = function () {
            tag.startupSelected = false
            tag.cooperationSelected = true
            tag.jobOffersSelected = false

            RiotControl.trigger('joboffers:hide')
            RiotControl.trigger('cooperation:show')
        }

        tag.showJobOffers = function () {
            tag.startupSelected = false
            tag.cooperationSelected = false
            tag.jobOffersSelected = true

            RiotControl.trigger('joboffers:show')
        }

    </script>
</company-links>