<company-links>
    <ul>
        <li onclick="{showStartups}"><span>startups</span></li>
        <li onclick="{showCooperation}"><span>cooperation</span></li>
        <li onclick="{showEvents}"><span>events</span></li>
        <li onclick="{showJobOffers}"><span>job offers</span></li>
    </ul>

    <script>
        import RiotControl from 'RiotControl'

        const tag = this

        tag.showStartups = function () {
            //TODO : add orange to selected link

            RiotControl.trigger('startup:show')
        }

        tag.showCooperation = function () {
            RiotControl.trigger('cooperation:show')
        }

    </script>
</company-links>