<google-maps>
    <div id="map" ref="map" style="height: inherit"></div>

    <tooltip company="{selectedCompany}" show="{tooltipIsVisable}"></tooltip>

    <script>
        import RiotControl from 'RiotControl'

        var tag = this
        let map = undefined

        tag.markers = []

        tag.on('mount', function () {
            tag.init()
            tag.initZoomControls()

            RiotControl.on('startup:show', _ => RiotControl.trigger('startup:fetch'))
            RiotControl.on('startup:changed', tag.updateStartups)

            RiotControl.on('cooperation:show', _ => RiotControl.trigger('cooperation:fetch'))
            RiotControl.on('cooperation:changed', tag.updateCooperation)

        })

        tag.init = function () {
            let mapOptions = {
                zoom: 13,
                center: new google.maps.LatLng(44.79937794671696, 20.44006347656246), // latitude and longitude of Belgrade
                scrollwheel: false,
                disableDefaultUI: true,

                //darker map style

                styles: [
                    {
                        "featureType": "all",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "saturation": 36
                            },
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 40
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels.text.stroke",
                        "stylers": [
                            {
                                "visibility": "on"
                            },
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 16
                            }
                        ]
                    },
                    {
                        "featureType": "all",
                        "elementType": "labels.icon",
                        "stylers": [
                            {
                                "visibility": "off"
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 20
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 17
                            },
                            {
                                "weight": 1.2
                            }
                        ]
                    },
                    {
                        "featureType": "administrative",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#d5d5d5"
                            }
                        ]
                    },
                    {
                        "featureType": "landscape",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#0f0f0f"
                            },
                            {
                                "lightness": 20
                            }
                        ]
                    },
                    {
                        "featureType": "poi",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": "24"
                            }
                        ]
                    },
                    {
                        "featureType": "road",
                        "elementType": "labels.text.fill",
                        "stylers": [
                            {
                                "color": "#d5d5d5"
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.fill",
                        "stylers": [
                            {
                                "color": "#979797"
                            },
                            {
                                "lightness": 17
                            }
                        ]
                    },
                    {
                        "featureType": "road.highway",
                        "elementType": "geometry.stroke",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": 29
                            },
                            {
                                "weight": 0.2
                            },
                            {
                                "visibility": "on"
                            }
                        ]
                    },
                    {
                        "featureType": "road.arterial",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#7a7a7a"
                            },
                            {
                                "lightness": 18
                            }
                        ]
                    },
                    {
                        "featureType": "road.local",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#515151"
                            },
                            {
                                "lightness": 16
                            }
                        ]
                    },
                    {
                        "featureType": "transit",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#595959"
                            },
                            {
                                "lightness": 19
                            }
                        ]
                    },
                    {
                        "featureType": "water",
                        "elementType": "geometry",
                        "stylers": [
                            {
                                "color": "#000000"
                            },
                            {
                                "lightness": "12"
                            }
                        ]
                    }
                ]

                //lighter map style

                //                styles: [
                //                    {
                //                        "featureType": "all",
                //                        "elementType": "all",
                //                        "stylers": [
                //                            {
                //                                "hue": "#ff0000"
                //                            },
                //                            {
                //                                "saturation": -100
                //                            },
                //                            {
                //                                "lightness": -30
                //                            }
                //                        ]
                //                    },
                //                    {
                //                        "featureType": "all",
                //                        "elementType": "labels.text.fill",
                //                        "stylers": [
                //                            {
                //                                "color": "#ffffff"
                //                            }
                //                        ]
                //                    },
                //                    {
                //                        "featureType": "all",
                //                        "elementType": "labels.text.stroke",
                //                        "stylers": [
                //                            {
                //                                "color": "#353535"
                //                            }
                //                        ]
                //                    },
                //                    {
                //                        "featureType": "landscape",
                //                        "elementType": "geometry",
                //                        "stylers": [
                //                            {
                //                                "color": "#656565"
                //                            }
                //                        ]
                //                    },
                //                    {
                //                        "featureType": "poi",
                //                        "elementType": "all",
                //                        "stylers": [
                //                            {
                //                                "visibility": "off"
                //                            }
                //                        ]
                //                    },
                //                    {
                //                        "featureType": "poi",
                //                        "elementType": "geometry.fill",
                //                        "stylers": [
                //                            {
                //                                "color": "#505050"
                //                            }
                //                        ]
                //                    },
                //                    {
                //                        "featureType": "poi",
                //                        "elementType": "geometry.stroke",
                //                        "stylers": [
                //                            {
                //                                "color": "#808080"
                //                            }
                //                        ]
                //                    },
                //                    {
                //                        "featureType": "road",
                //                        "elementType": "geometry",
                //                        "stylers": [
                //                            {
                //                                "color": "#454545"
                //                            }
                //                        ]
                //                    },
                //                    {
                //                        "featureType": "transit.station",
                //                        "elementType": "all",
                //                        "stylers": [
                //                            {
                //                                "visibility": "simplified"
                //                            }
                //                        ]
                //                    },
                //                    {
                //                        "featureType": "water",
                //                        "elementType": "all",
                //                        "stylers": [
                //                            {
                //                                "lightness": "19"
                //                            }
                //                        ]
                //                    }
                //                ]
            }

            map = new google.maps.Map(tag.refs.map, mapOptions)

            google.maps.event.addListener(map, 'click', function (event) {
                tag.placeCursorMarker(event.latLng)
            })

            function enableScrollwheel(map) {
                if (map) map.setOptions({scrollwheel: true})
            }

            function disableScrollwheel(map) {
                if (map) map.setOptions({scrollwheel: false})
            }
        }

        tag.initZoomControls = function () {
            var controlDiv = document.createElement('div')
            controlDiv.style.margin = '40px'

            var zoomInControl = document.createElement('div')
            zoomInControl.className = 'zoom-in'

            var zoomOutControl = document.createElement('div')
            zoomOutControl.className = 'zoom-out'

            controlDiv.appendChild(zoomInControl)
            controlDiv.appendChild(zoomOutControl)

            zoomInControl.addEventListener('click', map.setZoom(map.getZoom() + 1))
            zoomOutControl.addEventListener('click', map.setZoom(map.getZoom() - 1))

            map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(controlDiv)
        }

        tag.placeMarker = function (company) {
            let marker = new google.maps.Marker({
                position: company.coords,
                icon: {
                    url: `data:image/svg+xml;utf-8,
                          <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="7" cy="7" r="7" fill="orange"></circle>
                          </svg>`,
                    anchor: new google.maps.Point(7, 7)
                },
                crossOnDrag: false,
                draggable: false,
                optimized: false,
                map: map
            })

            marker.addListener('mouseover', function () {

                let latLng = new google.maps.LatLng(company.coords.lat, company.coords.lng),
                    projection = map.getProjection(),
                    bounds = map.getBounds(),
                    topRight = projection.fromLatLngToPoint(bounds.getNorthEast()),
                    bottomLeft = projection.fromLatLngToPoint(bounds.getSouthWest()),
                    worldPoint = projection.fromLatLngToPoint(latLng),
                    scale = Math.pow(2, map.getZoom())

                tag.selectedCompany = company
                tag.selectedCompany.left = Math.floor((worldPoint.x - bottomLeft.x) * scale)
                tag.selectedCompany.top = Math.floor((worldPoint.y - topRight.y) * scale)

                tag.tooltipIsVisable = true
                tag.tags.tooltip.update()
            })

            marker.addListener('mouseout', function () {
                tag.tooltipIsVisable = false
                tag.update()
            })

            return marker
        }

        tag.placeCursorMarker = function (position) {
            return new google.maps.Marker({
                position: position,
                icon: {
                    url: '/assets/images/marker-128-lightblue.png',
                    scaledSize: new google.maps.Size(48, 48)
                },
                crossOnDrag: false,
                draggable: true,
                optimized: false,
                animation: google.maps.Animation.DROP,
                map: map
            })
        }

        tag.updateStartups = function (startups) {
            tag.markers.forEach(marker => marker.setMap(null))

            tag.markers = startups.map(startup => tag.placeMarker(startup))

            //TODO : markers at same position http://stackoverflow.com/questions/20490654/more-than-one-marker-on-same-place-markerclusterer
        }

        tag.updateCooperation = function (cooperations) {
            tag.markers.forEach(marker => marker.setMap(null))

            tag.markers = cooperations.map(cooperation => tag.placeMarker(cooperation))
        }

        tag.on('unmount', function () {
            RiotControl.off('startup:show')
            RiotControl.off('startup:changes')
            RiotControl.off('cooperation:show')
            RiotControl.off('startup:changes')
        })

    </script>
</google-maps>